[Desktop Entry]
Version=1.0
Name=Nepkg update
Comment=check all package sources
Exec=netpkg -uu
Icon=netpkg
Terminal=true
Type=Application
X-GNOME-Autostart-Phase=Initialization
